<div class="gtco-section">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2 class="cursive-font primary-color">Pratos Populares</h2>
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Diuretics paradis num copo é motivis de denguis.
          Quem num gosta di mé, boa
          gentis num é.
        </p>
      </div>
    </div>
    
    <div class="row">
      <% menus.forEach(function(menu){ %>
        <%- include('menus/show', { menu }); %>
      <% }); %>
    </div>
  </div>
</div>